* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border-bottom: solid gray 1px; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    font-weight: bold;
}

.navbar__s1 img {
    width: 200px;
    height: 40px;
    padding: 10px;
    align-items: center;
}

.navbar__s1 img:hover {
    cursor: pointer;
}

.navbar__s2 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar__s2 p {
    padding: 10px;
    border: solid transparent 1px;
    background: transparent;
}

.navbar__s2 p:hover {
    cursor: pointer;
    border-radius: 30px;
    background-color: lightgray;
    padding: 10px;

}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__s3 p,
.navbar__s3 button {
    padding: 10px;
    border: solid transparent 1px;
    background: transparent;
    /* font-weight: bold; */
}

.navbar__s3 p:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 30px;
    padding: 10px;

}

.navbar__s3 button {
    padding: 8px;
    border-radius: 30px;
    background-color: darkgreen;
    color: white;
    font-size: 18px;
}

.navbar__s3 button:hover {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    border: none;
    border: solid gray 1px;
}

.navbar_menu {
    display: none;
}

.section {
    align-items: center;
}

.section h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 40px;
    color: darkgreen;
}

.section__s1 {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.section__s1 p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section__searchbar {
    display: flex;
    gap: 10px;
    align-items: center;
    border: solid lightgray 2px;
    padding: 8px;
    border-radius: 50px;
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(247, 240, 240);
}

.section__searchbar input {
    border: none;
    width: 600px;
    height: 20px;
    outline: none;
    background-color: transparent;
}

.section__searchbar input:hover {
    outline: none;
    border: none;
}

.section__searchbar button {
    border: none;
    border: solid gray 1px;
    background-color: rgb(51, 233, 51);
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 200px;

}

.section__searchbar button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

.banner{
    padding: 10px;
    display: flex;
    border: solid transparent 1px;
    gap: 20px;
    margin: 50px;
    background-color: #00EB5B;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.banner:hover{ cursor: pointer;}
.banner img{
    height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 30px;
}
.banner__content{
    flex: 2;
    color: #002B11;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}
.banner__content h1{
    font-size: 50px;
    font-weight: 800;
}
.banner__content p{
    font-size: 20px;
    font-weight: 400;
}
.banner__content button{
    background-color: #002B11;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;

}
.banner__content button:hover{
    cursor: pointer;
}
.interest{
    margin-top: 20px;
}
.interest__content{
    padding: px;
    margin-left: 80px;
}
.interest__img{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.image__box{
    position: relative;
}
.interest__img img{
    height: 280px;
    width: 280px;
    border-radius: 10px;
}
.interest__img p{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.image__box:hover img{
    filter: brightness(70%);
}
.interest__img img:hover{
    cursor: pointer;
}

.small_banner{
    padding: 10px;
    display: flex;
    margin: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
    /* border: solid gray 1px; */
    background-color: rgb(245, 240, 240);
    border-radius: 10px;
}
.small_banner:hover{
    cursor: pointer;
}
.small_banner img { 
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.small_banner_content{
    padding: 20px;
    margin: 10px;
}
.small_banner_content button{
    margin-top: 50px;
    margin-left: 700px;
    background-color: white;
    color: #002B11;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}
.small_banner_content button:hover{
    cursor: pointer;
    background-color: lightgray;
}
.explore{
    padding: 10px;
}
.explore__s1{
        margin-left: 70px;
}
.explore__s2 :hover{
    cursor: pointer;
}
.explore__s2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.explore__s2 h4{
    width: 250px;
}
.explore_images img{
    height: 280px;
    width: 280px;
    border-radius: 10px;
}
.explore_images:hover img{
    filter: brightness(70%);
}
.explore_images{
    position: relative;
}
.explore_images i{
    position: absolute;
    top: 20px;
    right: 25px;
    border: solid white 1px;
    padding: 10px;
    border-radius: 30px;
}
.explore_images i:hover{
    background-color: gray;
}

.small_banner1{
    padding: 10px;
    display: flex;
    margin: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 50px;
    background-color: #A2FFA4;
    border-radius: 10px;
}
.small_banner1:hover{
    cursor: pointer;
}
.small_banner1 img { 
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.small_banner1_content{
    padding: 20px;
    margin: 10px;
}
.small_banner1_content button{
    margin-top: 10px;
    margin-left: 700px;
    background-color: white;
    color: #002B11;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}
.small_banner1_content button:hover{
    cursor: pointer;
    background-color: lightgray;
}

.explore_images h5{
    padding: 10px;
    border: solid transparent 1px;
    background-color:rgb(236, 234, 234);
    border-radius: 30px;
    max-width: fit-content;
}

.ad-banner{
    display: flex;
    justify-content: center;
    gap:150px;
    padding: 10px;
    background-color: #F7F7F7;
    margin: 60px;
    border-radius: 10px;
    
}
.ad-banner__image img{
    width: 600px;
    height: 500px;
    border-radius: 10px;
}
.ad-banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 } 
.ad-banner__content h2{
    font-size: 30px;
    font-weight: bold;
    color: #002B11;
}
.ad-banner__content button{
    padding: 15px;
    background-color: #002B11;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}
.ad-banner__content button:hover{
    cursor: pointer;
    background-color:#F7F7F7 ;
    color: #002B11;
}

.hero-banner{
    display: flex;
    justify-content: center;
    background-color: #002B11;
}
.hero-banner__image img{
    width: 550px;
    height: 550px;
    border-radius: 10px;
    padding: 20px;
}
.hero-banner__content h1{
    font-size: 60px;
    font-weight: bold;
    width: 400px;
    margin-top: 100px;
    color: white;
}
.hero-banner__content p{
    font-weight: bold;
    width:500px ;
    margin-right: 50px;
    color: white;
}
.hero-banner__content button{
    padding: 20px;
    background-color: white;
    color: #002B11;
    border-radius: 30px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
}
.hero-banner__content button:hover{
    cursor: pointer;
    background-color: lightgray;
}
.hero-banner__content{
    position: relative;
}
.hero-banner__content img{
    position: absolute;
    top: 25px;
    left: 0px;
}


.footer {
    padding: 30px;
    background-color: lightgray;
    margin-top: 20px;

}

.footer__one p {
    margin-top: 20px;

}
.footer__one p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer__one {
    display: flex;
    gap: 30px;
}

.footer__two {
    margin-top: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer__two__smedia i{
    padding: 10px;
}


/* media Queries */

@media screen and (max-width:800px){
    body{
        font-size:10px;

    }
}
@media (max-width: 800px) {

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }
    .footer__one__s3{
        display: none;
    }
    .navbar_menu {
        display: block;
        font-size: 24px;
        padding: 10px;
    }

    .navbar__s1 img {
        width: 140px;
        height: auto;
    }

    .section h1 {
        font-size: 32px;
        text-align: center;
    }

    .section__searchbar {
        width: 90%;
        padding: 5px;
    }

    .section__searchbar input {
        width: 100%;
    }

    .section__s1 {
        flex-wrap: wrap;
        gap: 10px;
    }

    .banner {
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .banner img {
        width: 80%;
        height: auto;
    }

    .banner__content h1 {
        font-size: 28px;
    }

    .interest__img img,
    .explore_images img {
        width: 200px;
        height: 200px;
        gap: 10px;
    }
    .interest__img p{
        font-size: 20px;
    }
    .explore h4{
        width: 200px;
    }

    .explore__s2 {
        flex-wrap: wrap;
    }
    .explore_images {
        width: 50%;
    } 
    .small_banner {
        flex-direction: column;
        margin: 10px;
        text-align: center;
    }

    .small_banner img{
        width: 100%;
        height: auto;
    }

    .small_banner_content button {
        margin-left: 0;
    }
    .small_banner1{
        display: none;
    }

    .ad-banner {
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        text-align: center;
        gap: 20px;

    }
    .ad-banner__image img {
        width: 100%;
        height: auto;
    }

    .hero-banner {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .hero-banner__content h1{
        width: 100%;
        font-size: 32px;
    }
    .hero-banner__content p{
        width: 100%;
    }
    .hero-banner__image img{
        width: 90%;
        height: auto;
    }

}


/* -TABLET VIEW -*/
@media (max-width: 1024px) {

    .navbar {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .navbar__s2 {
        gap: 15px;
    }

    .section h1 {
        font-size: 40px;
    }

    .section__searchbar input {
        width: 350px;
    }

    .banner {
        margin: 20px;
        flex-direction: column;
        text-align: center;
    }

    .banner img {
        width: 100%;
        height: auto;
    }

    .explore__s2 {
        flex-wrap: wrap;
    }

    .explore_images img {
        width: 230px;
        height: 230px;
    }

    .small_banner,
    .small_banner1 {
        margin: 20px;
        flex-direction: column;
        text-align: center;
    }

    .small_banner_content button,
    .small_banner1_content button {
        margin-left: 0;
        margin-top: 20px;
    }

    .ad-banner {
        flex-direction: column;
        margin: 20px;
        text-align: center;
    }

    .ad-banner__image img {
        width: 100%;
        height: auto;
    }

    .hero-banner {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
}

