* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    /* border-bottom: solid gray 1px; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    font-weight: bold;
}

.navbar__s1 img {
    width: 200px;
    height: 35px;
    padding: 10px;
    align-items: center;
}

.navbar__s1 img:hover {
    cursor: pointer;
}

.navbar__s2 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar__s2 p {
    padding: 10px;
    border: solid transparent 1px;
    background: transparent;
}

.navbar__s2 p:hover {
    cursor: pointer;
    border-radius: 30px;
    background-color: lightgray;
    padding: 10px;

}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__s3 p,
.navbar__s3 button {
    padding: 10px;
    border: solid transparent 1px;
    background: transparent;
}

.navbar__s3 p:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 30px;
    padding: 10px;

}

.navbar__s3 button {
    padding: 8px;
    border-radius: 30px;
    background-color: darkgreen;
    color: white;
    font-size: 18px;
}

.navbar__s3 button:hover {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    border: none;
    border: solid gray 1px;
}

.navbar_menu {
    display: none;
}

.section {
    align-items: center;
    padding: 10px;

}

.section h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 40px;
    color: darkgreen;
}

.section__s1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 15px;

}

.section__s1 p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section__searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.searchbar {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid lightgray;
    padding: 12px 20px;
    border-radius: 35px;
    background: #f7f1f1;
}

.searchbar i {
    color: black;
    font-size: 18px;
}

.searchbar input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.searchbar button {
    background: #046d2c;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}



.banner {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    background-color: #00EB5B;
    border-radius: 10px;
    padding: 30px;

}

.banner:hover {
    cursor: pointer;
}

.banner__img {
    width: 45%;
}

.banner__img img {
    width: 100%;
    border-radius: 10px;
}

.banner__content {
    width: 50%;
    color: #002B11;
}

.banner__content h1 {
    font-size: 40px;
    font-weight: 800;

}

.banner__content p {
    margin: 15px;
    font-size: 16px;
}

.banner__content button {
    background-color: #002B11;
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.interest {
    width: 85%;
    margin: 40px auto;
}

.interest__content h3 {
    font-size: 26px;
    font-weight: 700;
}

.interest__content p {
    margin-top: 10px;
}

.interest__img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.image__box {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.image__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interest__img p {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.image__box:hover img {
    filter: brightness(70%);
}

.small_banner {
    width: 80%;
    margin: 30px auto;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.small_banner:hover {
    cursor: pointer;
}

.small_banner_image {
    width: 40%;
}

.small_banner_image img {
    width: 100%;
    border-radius: 10px;
}

.small_banner_content {
    width: 55%;
}

.small_banner_content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.small_banner_content p {
    margin-bottom: 15px;
}

.small_banner_content button {
    font-size: 15px;
    background-color: white;
    color: #002B11;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
}

.small_banner_content button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.explore {
    width: 85%;
    margin: 30px auto;
}

.explore__s1 {
    text-align: left;
    margin-bottom: 20px;
}

.explore__s1 h3 {
    font-size: 24px;
    font-weight: 700;
}

.explore__s1 p {
    margin-top: 10px;
}

.explore__s2 :hover {
    cursor: pointer;
}

.explore__s2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.explore__s2 h4 {
    width: 250px;
}

.explore_images img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.explore_images:hover img {
    filter: brightness(70%);
}

.explore_images {
    position: relative;
}

.explore_images i {
    position: absolute;
    top: 20px;
    right: 25px;
    border: solid white 1px;
    padding: 10px;
    border-radius: 30px;
}

.explore_images i:hover {
    background-color: gray;
}

.small_banner1 {
    width: 80%;
    margin: 30px auto;
    background-color: rgb(163, 247, 163);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.small_banner1:hover {
    cursor: pointer;
}

.small_banner1_image {
    width: 30%;
}

.small_banner1 img {
    width: 100%;
    border-radius: 10px;
}

.small_banner1_content {
    width: 55%;
}

.small_banner1_content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.small_banner1_content p {
    margin-bottom: 15px;
}

.small_banner1_content button {
    font-size: 15px;
    background-color: white;
    color: #002B11;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
}

.small_banner1_content button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.explore_images h5 {
    padding: 10px;
    border: solid transparent 1px;
    background-color: rgb(236, 234, 234);
    border-radius: 30px;
    max-width: fit-content;
}

.ad-banner {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;

}

.ad-banner__image {
    width: 50%;
}

.ad-banner__image img {
    width: 100%;
    border-radius: 10px;
}

.ad-banner__content {
    width: 50%;
    color: #002B11;
}

.ad-banner__content h2 {
    font-size: 30px;
    font-weight: 700;
}

.ad-banner__content p {
    margin: 15px;
    font-size: 16px;
}

.ad-banner__content button {
    padding: 15px;
    background-color: #002B11;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    font-size: 16px;
}

.ad-banner__content button:hover {
    cursor: pointer;
    background-color: #F7F7F7;
    color: #002B11;
}

.hero-banner {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
    background-color: #033617;
    border-radius: 10px;
    padding: 20px;
}

.hero-banner__image {
    width: 50%;
}

.hero-banner__image img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.hero-banner__content {
    width: 50%;
}

.hero-banner__content h1 {
    font-size: 40px;
    font-weight: 800;
    color: white;
    padding: 10px;
}

.hero-banner__content p {
    margin: 15px;
    font-size: 16px;
    color: white;
}

.hero-banner__content button {
    padding: 20px;
    background-color: white;
    color: #002B11;
    border-radius: 30px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;

}

.hero-banner__content button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.hero-banner {
    position: relative;
}

.hero-banner__content img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.footer {
    padding: 30px;
    background-color: lightgray;
    margin-top: 20px;

}

.footer__one p {
    margin-top: 20px;

}

.footer__one p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__one {
    display: flex;
    gap: 30px;
}

.footer__two {
    margin-top: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__two__smedia i {
    padding: 10px;
}


/* media Queries */

@media screen and (max-width:800px) {
    body {
        font-size: 10px;

    }
}

@media (max-width: 600px) {
    .navbar {
        width: auto;
    }


    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .footer__one__s3 {
        display: none;
    }

    .navbar_menu {
        display: block;
        font-size: 24px;
        padding: 10px;
    }

    .navbar__s1 img {
        width: 140px;
        height: auto;
    }

    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner__img,
    .banner__content {
        width: 100%;
    }

    .banner__content h1 {
        font-size: 32px;
    }

    .image__box {
        width: 80%;
    }

    .explore_images img {
        width: 230px;
        height: 230px;
        gap: 10px;
    }

    .interest__img p {
        font-size: 20px;
    }

    .explore h4 {
        width: 200px;
    }

    .explore__s2 {
        flex-wrap: wrap;
    }

    .explore_images {
        flex-direction: column;
    }

    .small_banner {
        flex-direction: column;
        text-align: center;
    }

    .small_banner_image,
    .small_banner_content {
        width: 100%;
    }

    .small_banner_content h2 {
        font-size: 23px;
    }

    .small_banner1 {
        display: none;
    }

    .ad-banner {
        flex-direction: column;
        text-align: center;
    }

    .ad-banner__image,
    .ad-banner__content {
        width: 100%;
    }

    .hero-banner {
        flex-direction: column;
        text-align: center;
    }

    .hero-banner__content,
    .hero-banner__image {
        width: 100%;
    }

    .hero-banner__image img {
        height: auto;
    }

}


/* -TABLET VIEW -*/
@media (max-width: 1024px) {

    .navbar {
        width: auto;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    .footer__one__s3 {
        display: none;
    }

    .navbar_menu {
        display: block;
        font-size: 24px;
        padding: 10px;
    }

    .navbar__s1 img {
        width: 140px;
        height: auto;
    }

    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner__img,
    .banner__content {
        width: 100%;
    }

    .banner__content h1 {
        font-size: 32px;
    }

    .explore__s2 {
        flex-wrap: wrap;
    }

    .ad-banner {
        flex-direction: column;
        text-align: center;
    }

    .ad-banner__image,
    .ad-banner__content {
        width: 100%;
    }

    .hero-banner__image img {
        height: 400px;
    }

}