* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    font-weight: bold;
}

.navbar__s1 img {
    width: 200px;
    height: 35px;
    padding: 10px;
    align-items: center;
}

.navbar__s1 img:hover {
    cursor: pointer;
}

.navbar__s2 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar__s2 p {
    padding: 10px;
    border: solid transparent 1px;
    background: transparent;
}

.navbar__s2 p:hover {
    cursor: pointer;
    border-radius: 30px;
    background-color: lightgray;
    padding: 10px;

}

.navbar__s3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__s3 p,
.navbar__s3 button {
    padding: 10px;
    border: solid transparent 1px;
    background: transparent;
}

.navbar__s3 p:hover {
    cursor: pointer;
    background-color: lightgray;
    border-radius: 30px;
    padding: 10px;

}

.navbar__s3 button {
    padding: 8px;
    border-radius: 30px;
    background-color: darkgreen;
    color: white;
    font-size: 18px;
}

.navbar__s3 button:hover {
    cursor: pointer;
    background-color: green;
    color: black;
    border: none;
    border: solid gray 1px;
}

.navbar_menu {
    display: none;
}

.section {
    align-items: center;
    padding: 10px;

}

.section h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 40px;
    color: darkgreen;
}

.section__s1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 15px;

}

.section__s1 p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.section__searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.searchbar {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid lightgray;
    padding: 12px 20px;
    border-radius: 35px;
    background: #f7f1f1;
}

.searchbar i {
    color: black;
    font-size: 18px;
}

.searchbar input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

.searchbar button {
    background: #046d2c;
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.banner {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    background-color: #00EB5B;
    border-radius: 10px;
    padding: 30px;

}

.banner:hover {
    cursor: pointer;
}

.banner__img {
    width: 45%;
}

.banner__img img {
    width: 100%;
    border-radius: 10px;
}

.banner__content {
    width: 50%;
    color: #002B11;
}

.banner__content h1 {
    font-size: 40px;
    font-weight: 800;

}

.banner__content p {
    margin: 15px;
    font-size: 16px;
}

.banner__content button {
    background-color: #002B11;
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.interest {
    padding: 20px;
    width: auto;
}
.interest__img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.interest__content h3 {
    font-size: 26px;
    font-weight: 700;
}

.interest__content p {
    margin-top: 10px;
}

.image__box {
    flex-grow: 1;
    flex-basis: 20%;
    margin:5px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;

}

.image__box img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.interest__img p {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.image__box:hover img {
    filter: brightness(70%);
}
.small_banner{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
}
.small_banner_image{
    width: 45%;
}
.small_banner_image img{
    width: 100%;
    border-radius: 10px;
}
.small_banner_content{
    width: 50%;
}
.small_banner_content p{
    margin: 15px;
    font-size: 16px;
}
.small_banner_content button{
    background-color:white;
    color: black;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.small_banner_content button:hover{
    background-color: darkgrey;
    color: black;
}
.explore{
    padding: 20px;
    width: auto;
}
.explore__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.explore_images{
    flex-grow: 1;
    flex-basis: 20%;
    margin:5px;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.explore_images img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.explore_images:hover img {
    filter: brightness(70%);
}
.explore_images i {
    position: absolute;
    top: 20px;
    right: 25px;
    border: solid white 1px;
    padding: 10px;
    border-radius: 30px;
}

.explore_images i:hover {
    background-color: gray;
}

.small_banner1{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    background-color: rgb(124, 241, 124);
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
}
.small_banner1_image{
    width: 45%;
}
.small_banner1_image img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.small_banner1_content{
    width: 50%;
}
.small_banner1_content p{
    margin: 15px;
    font-size: 16px;
}
.small_banner1_content button{
    background-color:white;
    color: black;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.small_banner1_content button:hover{
    background-color: darkgrey;
    color: black;
}

.ad-banner{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
}
.ad-banner__image{
    width: 45%;
}
.ad-banner__image img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.ad-banner__content{
    width: 50%;
}
.ad-banner__content h2{
    color: rgb(6, 68, 6);
}
.ad-banner__content p{
    color: rgb(6, 68, 6);
    margin: 15px;
    font-size: 16px;
}
.ad-banner__content button{
    background-color:rgb(2, 53, 2);
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.ad-banner__content button:hover{
    background-color: lightgray;
    color: black;
}


.hero-banner {
    /* width: 95%; */
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 20px auto;
    background-color: #033617;
    padding: 20px;
    position: relative;
}

.hero-banner__image {
    width: 50%;
}

.hero-banner__image img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.hero-banner__content {
    width: 50%;
}

.hero-banner__content h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding: 10px;
}

.hero-banner__content p {
    margin: 15px;
    font-size: 16px;
    color: white;
}

.hero-banner__content button {
    padding: 20px;
    background-color: white;
    color: #002B11;
    border-radius: 30px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;

}

.hero-banner__content button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.hero-banner__content img {
    position: absolute;
    top: 20px;
    left: 20px;
}


.footer {
    padding: 30px;
    background-color: lightgray;
    margin-top: 20px;
}

.footer__one p {
    margin-top: 20px;

}

.footer__one p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__one {
    display: flex;
    gap: 30px;
}

.footer__two {
    margin-top: 25px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer__two__smedia i {
    padding: 10px;
}









/* media Queries */

@media screen and (max-width:800px) {
    body {
        font-size: 10px;

    }
}

@media (max-width: 600px) {
    .navbar {
        width: auto;
    }
    .navbar__s2,
    .navbar__s3 {
        display: none;
    
    }

    .navbar_menu {
        display: block;
        font-size: 24px;
        padding: 10px;
    }

    .navbar__s1 img {
        width: 140px;
        height: auto;
    }
    
    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner__img,
    .banner__content {
        width: 100%;
    }

    .banner__content h1 {
        font-size: 32px;
    }
    .image__box{
        flex-basis:40%;
    }
    .image__box img{
        height: 200px;
    }
    .small_banner{
        width: 80%;
        flex-direction: column;
        text-align: center;
    }
    .small_banner_image,.small_banner_content{
        width: 100%;
    }
    .explore_images{
        flex-basis:40%;
    }
    .explore_images img{
        height: 200px;
    }
    .small_banner1{
        display: none;
    }
    .ad-banner{
        width: 80%;
        flex-direction: column;
        text-align: center;
    }
    .ad-banner__image,.ad-banner__content{
        width: 100%;
    }
    .ad-banner__image img{
        height: 250px;
    }
    .hero-banner{
        width: 90%;
        flex-direction: column;
        text-align: center;
    }
    .hero-banner__content,.hero-banner__image{
        width: 100%;
    }
    .hero-banner__image img{
        height:250px;
    }
    .hero-banner__content img{
        display: none;
    }

}





/* -TABLET VIEW -*/
@media (max-width: 1024px) {

    .navbar {
        width: auto;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }

    /* .footer__one__s3 {
        display: none;
    } */

    .navbar_menu {
        display: block;
        font-size: 24px;
        padding: 10px;
    }

    .navbar__s1 img {
        width: 140px;
        height: auto;
    }

    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner__img,
    .banner__content {
        width: 100%;
    }

    .banner__content h1 {
        font-size: 32px;
    }
    .image__box img{
        height: 230px;
    }
    .explore_images img{
        height: 230px;
    }
    .small_banner1_image img{
        height: 230px;
    }
    .hero-banner__content,.hero-banner__image{
        width: 100%;
    }
    .hero-banner__image img{
        height:400px;
    }
    .hero-banner__content img{
        display: none;
    }

}
